{{ define "main" }}
<div class="double">
  <div class="column">
    <h2>Арфаграфія</h2>
    <div class="double">
      <div class="column">
          
        <h3>Галосныя</h3>
        <ul>
          <li class="finished"><span>§1</span><a href="{{ "rules/1" | relURL }}" title="§1">Галосныя літары</a></li>
          <li class="finished"><span>§2..§3</span><a href="{{ "rules/2-3/" | relURL }}" title="§2..§3">Літары о, ё, э, е</a></li>
          <li class="finished"><span>§4,§6</span><a href="{{ "rules/4.6/" | relURL }}" title="§4,§6">Перадача акання і якання на пісьме</a></li>
          <li class="finished"><span>§5,§7</span><a href="{{ "rules/5.7" | relURL }}" title="§5,§7">Галосныя ў складаных словах</a></li>
          <li class="finished"><span>§8</span><a href="{{ "rules/8" | relURL }}" title="§8">Прыстаўныя галосныя і, а</a></li>
          <li class="finished"><span>§9</span><a href="{{ "rules/9" | relURL }}" title="§9">Спалучэнні галосных у запазычаных словах</a></li>
        </ul>

        <h3>Зычныя</h3>
        <ul>
          <li class="finished"><span>§10</span><a title="§10" href="{{ "rules/10" | relURL }}">Зычныя літары</a></li>
          <li class="finished"><span>§11</span><a title="§11" href="{{ "rules/11" | relURL }}">Звонкія і глухія зычныя</a></li>
          <li><span>§12</span><a title="§12" href="{{ "rules/12" | relURL }}">Літары д, т і дз, ц</a></li>
          <li class="finished"><span>§13</span><a title="§13" href="{{ "rules/13" | relURL }}">Некаторыя cпалучэнні зычных</a></li>
          <li><span>§14</span><a title="§14" href="{{ "rules/14" | relURL }}">Прыстаўныя і ўстаўныя зычныя</a></li>
          <li><span>§15</span><a title="§15" href="{{ "rules/15" | relURL }}">Нескладовае ў і у складовае</a></li>
          <li class="finished"><span>§16</span><a title="§16" href="{{ "rules/16" | relURL }}">Нескладовае й</a></li>
          <li class="finished"><span>§17</span><a title="§17" href="{{ "rules/17" | relURL }}">Падоўжаныя і падвоеныя зычныя</a></li>
        </ul>

        <h3>Мяккі знак і апостраф</h3>
        <ul>
          <li><span>§18</span><a title="§18" href="{{ "rules/18" | relURL }}">Змякчальны мяккі знак</a></li>
          <li><span>§19</span><a title="§19" href="{{ "rules/19" | relURL }}">Раздзяляльны мяккі знак і апостраф</a></li>
        </ul>

      </div>
      <div class="column">

        <h3>Некаторыя марфемы</h3>
        <ul>
          <li class="finished"><span>§21</span><a title="§21" href="{{ "rules/21" | relURL }}">Аднамарфемныя прыназоўнікі</a></li>
          <li class="finished"><span>§22</span><a title="§22" href="{{ "rules/22" | relURL }}">Прыстаўкі</a></li>
          <li><span>§23</span><a title="§23" href="{{ "rules/23" | relURL }}">Суфіксы</a></li>
          <li class="finished"><span>§20</span><a title="§20" href="{{ "rules/20" | relURL }}">Абрэвіятуры</a></li>
        </ul>

        <h3>Вялікая і малая літары</h3>
        <ul>
          <li><span>§24</span><a title="§24" href="{{ "rules/24" | relURL }}">Агульныя правілы правапісу вялікай і малой літар</a></li>
          <li><span>§25..§32</span><a title="§24..§32" href="{{ "rules/25-32" | relURL }}">Вялікая і малая літары ў розных выпадках</a></li>
          <li class="finished"><span>§33</span><a title="§33" href="{{ "rules/33" | relURL }}">Вялікая літара ў назвах з двукоссем</a></li>
        </ul>

        <h3>Правілы пераносу</h3>
        <ul>
          <li class="finished"><span>§41</span><a title="§41" href="{{ "rules/41" | relURL }}">Правілы пераносу слоў</a></li>
        </ul>

        <h3>Разам, праз злучок і асобна</h3>
        <ul>
          <li class="finished"><span>§34</span><a title="§34" href="{{ "rules/34" | relURL }}">Агульныя правілы напісання разам, праз злучок і асобна</a></li>
          <li class="finished"><span>§37</span><a title="§37" href="{{ "rules/37" | relURL }}">Лічэбнікі</a></li>
          <li><span>§38</span><a title="§38" href="{{ "rules/38" | relURL }}">Прыслоўі</a></li>
          <li><span>§35..§36</span><a title="§35..§36" href="{{ "rules/35-36" | relURL }}">Складаныя назоўнікі і прыметнікі</a></li>
          <li class="finished"><span>§39</span><a title="§39" href="{{ "rules/39" | relURL }}">Прыназоўнікі, злучнікі, часціцы, выклічнікі</a></li>
          <li><span>§40</span><a title="§40" href="{{ "rules/40" | relURL }}">Правапіс не (ня) і ні</a></li>
        </ul>

      </div>
    </div>
  </div>
  <div class="column">
    <h2>Пунктуацыя</h2>
    <div class="double">
      <div class="column">

        <h3>Знакі прыпынку</h3>
        <ul>
            <li class="finished"><span>§42</span><a title="§42" href="{{ "rules/42" | relURL }}">Кропка</a></li>
            <li><span>§59</span><a title="§59" href="{{ "rules/59" | relURL }}">Кропка з коскай</a></li>
            <li class="finished"><span>§43</span><a title="§43" href="{{ "rules/43" | relURL }}">Пытальнік</a></li>
            <li class="finished"><span>§44</span><a title="§44" href="{{ "rules/44" | relURL }}">Клічнік</a></li>
            <li><span>§61</span><a title="§61" href="{{ "rules/61" | relURL }}">Працяжнік</a></li>
            <li><span>§60</span><a title="§60" href="{{ "rules/60" | relURL }}">Двукроп'е</a></li>
            <li><span>§45</span><a title="§45" href="{{ "rules/45" | relURL }}">Шматкроп'е</a></li>
            <li><span>§63</span><a title="§63" href="{{ "rules/63" | relURL }}">Двукоссе</a></li>
            <li><span>§62</span><a title="§62" href="{{ "rules/62" | relURL }}">Дужкі</a></li>
        </ul>

        <h3>Іншыя правілы</h3>
        <ul>
            <li><span>§64</span><a title="§64" href="{{ "rules/64" | relURL }}">Простая мова і цытаты</a></li>
            <li><span>§65</span><a title="§65" href="{{ "rules/65" | relURL }}">Спалучэнне знакаў прыпынку</a></li>
            <li class="finished"><span>§66</span><a title="§66" href="{{ "rules/66" | relURL }}">Знакі прыпынку пры спасылках</a></li>
        </ul>

        <h3>Коска ў складаных сказах</h3>
        <ul>
            <li><span>§56</span><a title="§56" href="{{ "rules/56" | relURL }}">У складаназлучаным</a></li>
            <li class="finished"><span>§57</span><a title="§57" href="{{ "rules/57" | relURL }}">У бяззлучнікавым</a></li>
            <li><span>§58</span><a title="§58" href="{{ "rules/58" | relURL }}">У складаназалежным</a></li>
        </ul>

      </div>
      <div class="column">
        <h3>Коска ў простых сказах</h3>
        <ul>
            <li><span>§46</span><a title="§46" href="{{ "rules/46" | relURL }}">Паміж аднароднымі членамі сказа</a></li>
            <li class="finished"><span>§47</span><a title="§47" href="{{ "rules/47" | relURL }}">Паміж словамі, якія паўтараюцца</a></li>
            <li class="finished"><span>§48</span><a title="§48" href="{{ "rules/48" | relURL }}">Пры параўнальных зваротах</a></li>
            <li class="finished"><span>§49</span><a title="§49" href="{{ "rules/49" | relURL }}">Пры адасобленых азначальных зваротах і словах</a></li>
            <li class="finished"><span>§50</span><a title="§50" href="{{ "rules/50" | relURL }}">Пры адасобленых акалічнасцях і акалічнасных зваротах</a></li>
            <li><span>§52</span><a title="§52" href="{{ "rules/52" | relURL }}">Пры пабочных і ўстаўных канструкцыях</a></li>
            <li class="finished"><span>§53</span><a title="§53" href="{{ "rules/53" | relURL }}">Пры зваротку</a></li>
            <li class="finished"><span>§54</span><a title="§54" href="{{ "rules/54" | relURL }}">Пры выклічніках і гукаперайманнях</a></li>
            <li class="finished"><span>§55</span><a title="§55" href="{{ "rules/55" | relURL }}">Пры сцвярджальных, адмоўных і пытальных словах</a></li>
            <li class="finished"><span>§51</span><a title="§51" href="{{ "rules/51" | relURL }}">Пры словах і спалучэннях слоў, якія ўдакладняюць або абмяжоўваюць значэнне іншых слоў у сказе</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="main likely">
  <div class="twitter" data-via="iklimchuk" >Твітнуць</div>
  <div class="facebook">Падзяліцца</div>
  <div class="vkontakte">Запосціць</div>
  <div class="telegram">Адправіць</div>
</div>
{{ end }}