.algolia-autocomplete {
  box-shadow: 0 0 10px #ece8e8;
  height: 4rem;
  min-width: 40%;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
}
.algolia-autocomplete:focus {
    outline: none;
}
.algolia-autocomplete .aa-input {
    background: transparent;
    height: 4rem;
    border: 0;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    font-family: "Georgia", serif;
    line-height: 4rem;
    padding-left: 1rem;
}
.algolia-autocomplete .aa-input:focus {
    outline: none;
}
.algolia-autocomplete .aa-input, 
.algolia-autocomplete .aa-hint {
  width: 100%;
}
.algolia-autocomplete .aa-hint {
  color: #999;
}

.algolia-autocomplete .aa-dropdown-menu {
  width: calc(100% + 2px);
  background-color: #fff;
  border: 1px solid #d7d7d7;
  box-shadow: 0 5px 10px #ece8e8;
  border-top: none;
  margin-left: -1px;
  top: 98% !important;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 2rem;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion a {
    color: inherit;
    text-decoration: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion h4 {
    font-size: 1.6rem;
    margin: 0;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion p {
    margin: 0;
    font-size: 1.2rem;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: rgba(0,128,128, 0.15);
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
  color: teal;
}
.algolia-autocomplete .aa-dropdown-menu .branding {
    margin: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    border-top: 1px solid #d7d7d7;
}
.algolia-autocomplete .aa-dropdown-menu .branding .wrapper {
    display: flex;
    height: 3rem;
    justify-content: flex-start;
}
.algolia-autocomplete .aa-dropdown-menu .branding span {
    line-height: 3rem;
    margin-right: 1rem;
}
.algolia-autocomplete .aa-dropdown-menu .branding img {
    width: 12rem;
}
