:root {
    --view-max-width: 1280px;
    --font-serif: "Georgia", serif;
    --font-sanss: "Lato", sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font-serif);
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.6;
    padding: 0 4rem;
    margin: 0;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}


header {
    margin: 0 auto;
    max-width: var(--view-max-width); 
    min-height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

header picture {
    font-size: 3rem;
    margin: 3rem 0;
}

header picture a {
    color: black;
}

header picture a:hover,
header picture a:active {
    color: rgba(0,0,0, 0.7);
}


header menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

header menu li {
    margin: 0 1rem;
    font-size: 2rem;
}
header menu li a {
    color: #222;
    font-style: none;
    text-decoration: none;
}
header menu li a.active,
header menu li a:hover {
    border-bottom: 1px solid;
}

footer {
    font-family: sans-serif;
    max-width: var(--view-max-width); 
    margin: 1rem auto 0;
    padding: 2rem 0 1rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0,0,0, 0.05);
    flex-wrap: wrap;
}

footer .disclaimer {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.5);
}


main {
    max-width: var(--view-max-width);
    margin: 0 auto;
}

main h2, 
main h3 {
    font-family: var(--font-sanss);
}

main h2 {
    font-size: 3rem;
    margin-bottom: 0;
}

main h3 {
    font-size: 2rem;
    margin: 2.25rem 0 0.75rem;
}

.double {
    display: flex;
    width: 100%;
}

.double .column {
    min-width: 50%;
}

.column ul {
    list-style-type: none;
    padding: 0;
    font-family: var(--font-sanss);
    font-weight: 400;
    max-width: 90%;
    margin: 0;
}

.column ul li {
    line-height: 2rem;
    font-size: 1.6rem;
    padding-bottom: 0.8rem;
    position: relative;
}
.column ul li span {
    display: none;
    position: absolute;
    right: 103%;
    color: #999;
    font-size: 1.4rem;
    line-height: 2.2rem;
}
.column ul li:hover span {
    display: block;
}

.column ul li a {
    color: #1e90ff;
    text-decoration: none;
}

.column ul li a:hover {
    color: #aa3311;
}

article {
    font-size: 2rem;
    padding-top: 2.5rem;
}

article h1 {
    margin-top: 0;
    line-height: 1.2;
}

article h1,
article h2 {
    color: #333;
    font-size: 3rem;
    position: relative;
}
article h2 {
    font-size: 2.8rem;
}

article h1 span,
article h2 span {
    position: absolute;
    right: 101%;
}

article h1 span a,
article h2 span a {
    text-decoration: none;
    color: #1e90ff;
}

article h1 span a:hover,
article h2 span a:hover {
    color: #aa3311;
}

article ol,
article ul {
    padding-left: 0;
}

article em {
    color: teal;
}

article blockquote {
    border-left: 2px solid darkred;
    padding-left: 2rem;
}
article blockquote * {
    color: darkred;
}

article aside {
    font-size: 1.4rem;
    color: #999;
}

nav {
    display: flex;
    justify-content: space-between;
    line-height: 4rem;
    font-size: 2rem;
    margin: 3rem 0;
    flex-wrap: wrap;
}

nav a {
    color: #222;
    text-decoration: none;
}

nav a span {
    font-size: 3rem;
    color: #1e90ff;
    line-height: 2rem;
    position: relative;
    top: 4px;
    margin: 0 1rem;
}

nav a:hover,
nav a:hover span {
    color: #aa3311;
}



@media screen and (orientation: portrait) { 
    header {
        flex-direction: column;
    }
    header menu {
        flex-wrap: wrap;
    }
    nav {
        margin: 0;
        margin-bottom: 2rem;
    }
    article {
        font-size: 1.6rem;
    }
    article h1 {
        font-size: 2.4rem;
    }
    article h1 span {
        display: none;
    }
    .double {
        flex-wrap: wrap;
    }
}