html {
    box-sizing: border-box;
    font-size: 62.5%;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.6;
    padding: 0 4rem;
    margin: 0;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}


header {
    margin: 0 auto;
    max-width: 1280px; 
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

header picture {
    font-size: 3rem;
}

header picture a {
    color: black;
}

header picture a:hover,
header picture a:active {
    color: rgba(0,0,0, 0.7);
}


header menu {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

header menu li {
    margin: 0 1rem;
    font-size: 2rem;
}
header menu li a {
    color: #222;
    font-style: none;
    text-decoration: none;
}
header menu li a.active,
header menu li a:hover {
    border-bottom: 1px solid;
}

footer {
    font-family: sans-serif;
    max-width: 1280px; 
    margin: 1rem auto 0;
    padding: 2rem 0 1rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0,0,0, 0.05);
}

footer .disclaimer {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.5);
}


main {
    max-width: 1280px;
    margin: 0 auto;
}

main > h2, main > h3 {
    font-family: Lato, sans-serif;
}

main > h2 {
    font-size: 3rem;
    margin-bottom: 0;
}

main > h3 {
    font-size: 2rem;
    margin: 2.25rem 0 0.75rem;
}

.double {
    display: flex;
    width: 100%;
}

.double .column {
    min-width: 50%;
}

.column ul {
    list-style-type: none;
    padding: 0;
    font-family: Lato, sans-serif;
    font-weight: 400;
    max-width: 90%;
    margin: 0;
}

.column ul li {
    line-height: 2rem;
    font-size: 1.6rem;
    padding-bottom: 0.8rem;
}

.column ul li a {
    color: #1e90ff;
    text-decoration: none;
}

.column ul li a:hover {
    color: #aa3311;
}

article {
    font-size: 2rem;
}

article h1,
article h2 {
    color: #333;
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
}
article h2 {
    font-size: 2.8rem;
}

article h1 span,
article h2 span {
    position: absolute;
    left: 0;
}

article h1 span a,
article h2 span a {
    text-decoration: none;
    color: #1e90ff;
}

article h1 span a:hover,
article h2 span a:hover {
    color: #aa3311;
}

article ol,
article ul {
    padding-left: 5rem;
}

article em {
    color: teal;
}